@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background: radial-gradient(ellipse at top, #ff6060, transparent),
      radial-gradient(ellipse at bottom, #9345e1, transparent);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    font-family: 'SUIT', sans-serif;
  }
}

@layer components {
  .navBar_menu {
    font-weight: 500;
  }
  .board_background {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.47);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}
